<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>{{ title }}</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Kennon Houck. It uses data from mapbox.com, and tutorial from Andrew Mead on Udemy</p>
    <img class="portrait" src="img/robot.png" alt="">
</div>

{{>footer}}
</body>
</html>
